<%= render 'shared/page_title', title: "Corsogroup #{@corsogroup.corsoname}'s profile" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @corsogroup, size: 150 %>
  </div>
</div>
<% if @corsogroup.wagons.count != 0 %>
  <h4 align="center"><%= @corsogroup.corsoname %>'s float</h4>
  
  <div align="center">
    <%= will_paginate @corsogroup_wagons %>
  </div>
  <%= render 'wagons/wagon', obj: @corsogroup_wagons %>
  <div align="center">
    <%= will_paginate @corsogroup_wagons %>
  </div>
<% else %>
  <h4 align="center">No floats created yet!</h4>
<% end %>