<%= render 'shared/page_title', title: "showing all floats" %>

<% @wagons.each do |wagon| %>
  <div class="row">
    <div class="col-md-2">
      <section class="corsogroup_info center">
        <%= gravatar_for(wagon.corsogroup, size: 120) %>
      </section>
    </div>
    <div class="col-md-8 well">
        <h4><%= link_to wagon.name, wagon_path(wagon) %></h4>
        <p><%= truncate(wagon.description, length: 150) %></p>
        <p>
          <span class="quiet"><small>Created <%= time_ago_in_words(wagon.created_at) %> ago</small></span>
        </p>
    </div>
  </div>


<% end %>