<%= render 'shared/page_title', title: @wagon.name %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Description: </strong></h4>
  <hr />
  <% if @wagon.ingredients.any? %>
    <p>Flowers or materials: <%= render @wagon.ingredients %></p>
  <% end %>
  <%= simple_format(@wagon.description) %>
  <hr />
    <div class="pull-right">
      <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to gravatar_for(@wagon.corsogroup), corsogroup_path(@wagon.corsogroup) %>
    </p>
    <p class="center">
      <small><%= @wagon.corsogroup.corsoname %></small>
      <div class="pull-right">created: <%= time_ago_in_words(@wagon.created_at) %> ago</div>
    </p>
    </div>
    <div class="wagon-actions">
      <% if logged_in? && (current_corsogroup == @wagon.corsogroup || current_corsogroup.admin?) %>
        <%= link_to "Edit this float", edit_wagon_path(@wagon), class: "btn btn-xs btn-warning" %>
        <%= link_to "Delete this float", wagon_path(@wagon), method: :delete,
                                         data: { confirm: "Are you sure you want to delete this float?" },
                                         class: "btn btn-xs btn-danger" %>
      <% end %>
      <%= link_to "Return to floats listing", wagons_path, class: "btn btn-xs btn-primary" %>
    </div>
</div>